@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Roboto:wght@300&display=swap"');

body {
    font-family: 'Roboto', Arial, sans-serif;
}

h1 {
    font-family: 'Darumadrop One', 'cursive';
}


:root {
    --primary-color: #001d3d;
    --secondary-color: #228B22;
    --accent1-color: #12529b;
    --accent2-color: #ffa500;
  
    --heading-font: 'Darumadrop One', serif;
    --paragraph-font: 'Roboto', serif;
  
    --nav-background-color: #e6e8f8;
    --nav-link-color: #001d3d;
    --nav-hover-link-color: #e6e8f8;
    --nav-hover-background-color: #001d3d;
    --nav-link-visited-color: #fff;
  }

        
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }
        
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }

header {
    padding: 20px;
    background-color: var(--accent2-color);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);    
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}